</head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

            <a href="/" class="navbar-brand">
                <!-- Logo Image -->
                <img src="/media/logo-capes.png" width="105" height="35" alt="95" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span style="padding-left: 5px;" class="d-inline-block align-middle ml-2"><h3>GPAD</h3></span>
            </a>

            <% if(currentUser){ %>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Consultas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/">Consulta Bolsista</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ferramentas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/consultarsei">Editar SEI</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Relatórios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/relatoriositgeral">Situação Geral dos Bolsistas</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right mx-4">
                        <li class="nav-item">
                            <a class="nav-link" href='/clbrbolsistas/<%=currentUser._id%>'>Conectado como   <%=currentUser.fullname%></a>
                        </li>
                    </ul>
                </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link navbar-brand" href="/logout">
                                <!-- Logo Text -->
                                <span style="padding-left: 5px;color: white;"><strong>Sair</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
            <% } %>
        </nav>