<% include partials/header %>
    <link rel="stylesheet" href="style.css">
<% include partials/headerBottom %>
    <header class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Gestão de Processos</h1>
        </div>
    </header>
<% include partials/footer %>