<% include partials/header %>
    <link rel="stylesheet" href="/styles/landingMain.css">
    <link rel="stylesheet" href="/styles/landingSelector.css">
    <link rel="stylesheet" href="/styles/landingTabs.css">
<% include partials/headerBottom %>
    <header class="jumbotron">
        <div class="container">
            <h1>Gestão de Processos</h1>
        </div>
    </header>
    <div class="row selectTab">
        <div class="container">
        <ul id="tabs">
            <li>
                <a href="#tab1">Pesquisar Bolsista</a>
            </li>
            <li>
                <a href="#tab2">Consultar Bolsistas Atribuídos</a>
            </li>
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="tab col-12" id="tab1">
                <input type="text" placeholder="Pesquisar por cpf, sei ou nome do bolsista" id="searchBar" name="outBolsista[cpf]">
            </div>
            <div class="tab col-12" id="tab2">
                <form>
                    <input class="chosen-value" type="text" value="" placeholder="Type to filter">
                    <ul class="value-list">
                        <li>Wisconsin</li>
                        <li>Wyoming</li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
<script src="/scripts/landingSelector.js" type="text/javascript"></script>
<% include partials/footer %>