<% include partials/header %>
    <link rel="stylesheet" href="/landingStyle.css">
<% include partials/headerBottom %>
<div class="container container-fluid mt-3 mb-5">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">GPAD</h1>
        <p class="lead" style="text-align: center;"><strong>Sistema de Gestão de Processos Administrativos</strong></p>
    </div>
    </div>
</div>
<div class="container container-fluid" id="body">
    <p id="boxInfo" class="border border-light">Use um dos atalhos abaixo ou as demais opções da barra de navegação para iniciar</p>
    <div class="row justify-content-center border border-dark rounded">
        <div class="container col-5 border border-warning rounded">
            <form action="/consultabolsista" method="POST">
                <div class="form-group">
                    <label for="consulta">Consultar Bolsista</label>
                    <input class="form-control" type="text" name="consulta" id="consulta" placeholder="consultar">
                    <small id="consultaHelp" class="form-text text-muted"> A consulta pode ser feita por CPF, NOME ou SEI.</small>
                    <%var clbrs = clbrs%>
                    <button type="submit" class="btn btn-primary">Ir</button>
                </div>
            </form>
        </div>
        <div class="container col-5 border border-info rounded">
            <form action="/clbrbolsistas" method="POST">
                <div class="form-group">
                    <label for="clbrselect">Consultar Bolsistas Atribuídos</label>
                    <select class="form-control" name="clbrselect" id="clbrselect" onchange="this.form.submit()">
                        <option value="">Selecione o Colaborador</option>
                    <%clbrs.forEach(clbr => { %>
                        <option value="<%=clbr._id%>"><%=clbr.fullname%></option>
                    <% }) %>
                    </select>
                    <small id="consultaHelp" class="form-text text-muted"> Selecione o nome do colaborador.</small>
                </div>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>