<% include partials/header %>
    <link rel="stylesheet" href="/style.css">
<% include partials/headerBottom %>
    <header class="jumbotron">
        <div class="container">
            <h1>Gestão de Processos</h1>
        </div>
    </header>
    <div class="row selectTab">
        <div class="container">
        <ul id="tabs">
            <li>
                <a href="#tab1">Pesquisar Bolsista</a>
            </li>
            <li>
                <a href="#tab2">Consultar Bolsistas Atribuídos</a>
            </li>
        </ul>
    </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="tab col-12" id="tab1">
                <input type="text" placeholder="Pesquisar por cpf, sei ou nome do bolsista" id="searchBar" name="outBolsista[cpf]">
            </div>
            <div class="tab" id="tab2">
                ...content goes here
            </div>
        </div>
    </div>

A

<% include partials/footer %>