<% include partials/header %>

<div class="row justify-content-center mt-5">
    <div class="col-4"></div>
    <div class="col mx-auto my-auto">
        <div class="card border-secondary my-1 py-.25 pl-.5">
            <div class="card-body">
                <h3 class="card-title text-center"><strong>Login</strong></h3>
                <form action="/login" method="POST">
                    <label for="user[name]">Nome do Usuário</label>
                    <input required type="text" class="form-control" id='username' name='username' placeholder="nome do usuário(a) sem espaços">
                    <label for="user[name]">Senha</label>
                    <input required type="password" class="form-control" id='user[pass]' name='user[pass]' placeholder="uma senha séria aqui">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-md btn-primary mt-3">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>

<!-- closing elements -->
<% include partials/footer %>