<% include partials/header %>
<% include partials/headerBottom %>

<div class="row justify-content-center mt-5">
    <div class="col-4"></div>
    <div class="col mx-auto my-auto">
        <div class="card border-secondary my-1 py-.25 pl-.5">
            <div class="card-body">
                <h3 class="card-title text-center"><strong>Acesso - Gestão de Processos</strong></h3>
                <form action="/login" method="POST">
                    <label class="mt-1 mb-1" for="username">Nome do Usuário(a)</label>
                    <input required type="text" class="form-control" id='username' name='username' placeholder="nome do usuário(a) sem espaços">
                    <label class="mt-1 mb-1" for="password">Senha</label>
                    <input required type="password" class="form-control" id='password' name='password' placeholder="Senha">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-md btn-primary mt-3">Entrar</button>
                    </div>
                </form>
                <div class="col text-center mt-3">
                    <p>Nao tem login? Solicite acesso abaixo</p>
                    <a href="/registro">Solicitar Acesso</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>

<!-- closing elements -->
<% include partials/footer %>