<% include partials/header %>
    <link rel="stylesheet" href="/landingStyle.css">
    
<% include partials/headerBottom %>
<div class=" justify-content-center container container-fluid" id="body">
    <div class="row my-2 justify-content-center border border-dark rounded">
      <h2 class="mx-auto my-auto">A pesquisa por nome ainda não estar disponível. Refaça sua consulta utilizando CPF ou SEI.</h2>
    </div>
    <div class="row  my-2 justify-content-center border border-success rounded">
        <a class="btn btn-lg btn-primary mx-auto my-auto" href="/">Voltar</a>
    </div>
</div>

<% include partials/footer %>