<% include partials/header %>
    <link rel="stylesheet" href="showBolsista.css">
<% include partials/headerBottom %>

<h1>Working</h1>
<% bolCons.forEach((bol) = > { %>
    <h4><%= bol.nome %></h4>
<% }) %>;


<!-- closing elements -->
</div>
<% include partials/footer %>