<% include ../partials/header %>
    <link rel="stylesheet" href="/landingStyle.css">
    
<% include ../partials/headerBottom %>
<div class=" justify-content-center container container-fluid" id="body">
    <div class="row my-2 justify-content-center border border-dark rounded">
      <h2 class="mx-auto my-auto">Favor entrar em contato com a Coordenação</h2>
    </div>
    <div class="row  my-2 justify-content-center border border-success rounded">
        <a class="btn btn-lg btn-primary mx-auto my-auto" href="/">Voltar</a>
    </div>
</div>

<!-- closing elements -->
<% include ../partials/footer %>