body{
    width: 100%
}

h5, footer{
    color: lightslategrey;
}

h6, h4{
    color: rgba(rgb(0, 0, 0), 0.4);
}

.btn-pags b{display:inline}
.btn-pags:not(.collapsed)  span{display:none}
.btn-pags.collapsed b {display:none}

.table > tbody > tr > td {
     vertical-align: middle;
     text-align: center;
}

.table > thead {
     vertical-align: middle;
     text-align: center;
}